* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  html {
    font-size: 62.5%;
  }
  .fix{
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    z-index: 2;
}


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e76f51;
}

li {
    float: left;
}

.li1{
  float:right;
}
li a {
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 10px;
    text-decoration: none;
    font-size: 1.8rem;
}

li a:hover {
    text-decoration: underline 4px blanchedalmond;
}
  .contact {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-wrapper {
    width: 60%;
    height: 75rem;
    display: flex;
    box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.5);
  }
  
  .contact-left {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)),
      url(contactwall.jpeg) center no-repeat;
    background-size: cover;
  }
  
  .contact-right {
    width: 65%;
    background-color: #eee;
    padding: 3rem 10rem 10rem 10rem;
  }
  
  .contact-heading {
    font-family: "Baloo Da 2", serif;
    font-size: 6rem;
    font-weight: 300;
    color: #272727;
    margin-bottom: 5rem;
    text-align: center;
  }
  
  .contact-right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-group {
    position: relative;
  }
  
  .field {
    width: 45rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.2rem dashed #636363;
    margin: 3rem 0;
    padding: 1rem 1rem 1rem 0;
    font-family: "Muli", serif;
    font-size: 1.6rem;
    color: #4b4b4b;
  }
  
  .input-group input {
    height: 4rem;
  }
  
  .input-group textarea {
    max-height: 7rem;
    max-width: 45rem;
  }
  
  .field:focus {
    border-bottom-style: solid;
  }
  
  .input-group label {
    position: absolute;
    left: 0;
    font-family: "Baloo Da 2", serif;
    font-size: 1.8rem;
    color: #4b4b4b;
    text-transform: uppercase;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .input-label {
    bottom: 3rem;
  }
  
  .message {
    bottom: 6rem;
  }
  
  .field:focus ~ label {
    transform: translateY(-3rem);
    font-size: 1.2rem;
  }
  
  .submit-btn {
    width: 45rem;
    height: 5rem;
    background-color: black;
    color: #fff;
    border: none;
    margin-top: 2rem;
    font-family: "Muli", serif;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  }
  
  .submit-btn:hover{
      background: #9A9494;
      ;
  }
  .footer {
    width: 100%;
    height: 15rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  
  .copyright {
    font-family: "Baloo Da 2", serif;
    font-size: 1.6rem;
    color: #a7a7a7;
  }
  
  .social-list a {
    margin: 0 2rem;
  }
  
  .social-list i {
    font-size: 2rem;
    color: #a7a7a7;
  }
  .social-list i:hover {
    color: white;
  }